table.dashboard caption {
  font-weight: theme('fontWeight.normal');
  font-size: theme('fontSize.lg');
  line-height: theme('lineHeight.tight');
  color: theme('colors.primary.color');
  padding-bottom: 10px;
}

table.dashboard th,
table.dashboard td {
  border: theme('borderWidth.DEFAULT');
  border: solid;
  font-size: theme('fontSize.base');
  padding-left: 20px;
  padding-right: 20px;
  border-color: theme('borderColor.secondary.color');
  background-color: theme('colors.secondary.bg');
  color: theme('colors.secondary.color');
}
