.container {
    padding: 0 2rem;
    display: flex;
    min-height: 100vh;
    ;
    flex-direction: column;
}

.main {
    padding: 2rem 0;
    flex: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main table {
    border-spacing: 2px;
    border-collapse: collapse;
    color: #FFFFFF;
}

.main table caption {
    padding-bottom: 5px;
}

.main table thead {
    background-color: #202020;
}

.main table th {
    border-left: 2px solid #000000;
}

.main table tr {
    border-bottom: 2px solid #000000;
}

.main table th,
.main table td {
    padding: 5px 10px;
    text-align: center;
}

.main table tbody tr:nth-child(even) {
    background-color: #202020;
}

.main table tbody tr:nth-child(odd) {
    background-color: #161616;
}

.footer {
    display: flex;
    flex: 1;
    padding: 1rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

@media only screen and (max-width: 768px) {
    .main table {
        font-size: small;
    }
    .container {
        padding: 0;
    }
}

@media only screen and (max-width: 700px) {
    .main table {
        font-size: x-small;
    }
    .container {
        padding: 0;
    }
}